body {
    text-align: justify !important;
}

.main-container {
    max-width: 1800px !important;
    text-align: justify !important;
    margin-left: auto;
    margin-right: auto;
  }

h1, h2, h3, h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p, ul, ol {
    color: black;
    font-size: 12pt;
}

table {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-color: gray;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 18px;
}

table>caption+thead>tr:first-child>th, table>colgroup+thead>tr:first-child>th, table>thead:first-child>tr:first-child>th, table>caption+thead>tr:first-child>td, table>colgroup+thead>tr:first-child>td, table>thead:first-child>tr:first-child>td {
    border-top: 0;
}

table>thead>tr>th, table>tbody>tr>th, table>tfoot>tr>th, table>thead>tr>td, table>tbody>tr>td, table>tfoot>tr>td {
    padding: 5px;
}

table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
}

table>thead>tr>th, table>tbody>tr>th, table>tfoot>tr>th, table>thead>tr>td, table>tbody>tr>td, table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

table:not(.table)>thead>tr>th {
    text-align: center !important;
}